<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor’s Office</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
</head>
<body class="container p-4">
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="{% url 'home' %}">Doctor’s Office</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Logout</a></li>
                {% if user.is_secretary %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'patients:create' %}">Register Patient</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'appointments:create' %}">Create Appointment</a></li>
                {% endif %}
                {% if user.is_doctor %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'medicines:create' %}">Add Medicine</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'appointments:busy_create' %}">Add Busy Hour</a></li>
                {% endif %}
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

{% block content %}{% endblock content %}

</body>
</html>
